.container {
  background-color: var(--main-orange);
  color: white;
  text-transform: capitalize;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0 16px 0;
  height: 53px;
  border-radius: 8px;
}
.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: capitalize;
}

@media only screen and (min-width: 1025px) {
  .container {
    width: 220px;
  }
}
